<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <title>Lig Maçları Tablosu</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">

        <table class="half">

            <tbody>
                <tr>

                    <td class="firsthalf">1.Devre</td>
                    <td><a href="">1</a> </td>
                    <td> <a href="">2</a> </td>
                    <td> <a href="">3</a> </td>
                    <td> <a href="">4</a> </td>
                    <td> <a href="">5</a> </td>
                    <td> <a href="">6</a> </td>
                    <td> <a href="">7</a> </td>

                    <td> <a href="">8</a> </td>
                    <td> <a href="">9</a> </td>
                    <td> <a href="">10</a> </td>
                    <td> <a href="">11</a> </td>

                    <td> <a href="">12</a> </td>
                    <td> <a href="">13</a> </td>
                    <td> <a href="">14</a> </td>
                    <td> <a href="">15</a> </td>
                    <td> <a href="">16</a> </td>

                    <td> <a href="">17</a> </td>
                    <td> <a href="">18</a> </td>
                    <td> <a href="">19</a> </td>




                </tr>
                <td class="secondhalf">2.Devre</td>
                <td><a href="">20</a> </td>
                <td> <a href="">21</a> </td>
                <td> <a href="">22</a> </td>
                <td> <a href="">23</a> </td>
                <td> <a href="">24</a> </td>
                <td> <a href="">25</a> </td>
                <td> <a href="">26</a> </td>

                <td> <a href="">27</a> </td>
                <td> <a href="">28</a> </td>
                <td> <a href="">29</a> </td>
                <td> <a href="">30</a> </td>

                <td> <a href="">31</a> </td>
                <td> <a href="">32</a> </td>
                <td> <a href="">33</a> </td>
                <td> <a href="">34</a> </td>
                <td> <a href="">35</a> </td>

                <td> <a href="">36</a> </td>
                <td> <a href="">37</a> </td>
                <td> <a href="">38</a> </td>



                <tr>




                </tr>

            </tbody>
        </table>



        <br>
        <br>
        <br>


        <table class="matches">
            <tbody>
                <tr>

                    <td class="date">21.10.2023 13:30</td>
                    <td class="home" align="right">MONDIHOME KAYSERİSPOR</td>
                    <td class="score">-</td>
                    <td class="away">ÇAYKUR RİZESPOR A.Ş.</td>
                    <td class="details" align="left"><a href="">Detaylar</a> </td>


                </tr>
                <tr>

                    <td class="date">21.10.2023 16:00</td>

                    <td class="home" align="right">GAZİANTEP FUTBOL KULÜBÜ A.Ş.</td>
                    <td class="score">-</td>

                    <td class="away">BITEXEN ANTALYASPOR</td>
                    <td class="details" align="left"><a href="">Detaylar</a> </td>
                </tr>
                <tr>

                    <td class="date">21.10.2023 16:00</td>

                    <td class="home" align="right">TÜMOSAN KONYASPOR</td>
                    <td class="score">-</td>

                    <td class="away">SİLTAŞ YAPI PENDİKSPOR FUTBOL A.Ş.</td>
                    <td class="details" align="left"><a href="">Detaylar</a> </td>
                </tr>
                <tr>

                    <td class="date">21.10.2023 19:00</td>
                    <td class="home" align="right">GALATASARAY A.Ş.</td>
                    <td class="score">-</td>

                    <td class="away">BEŞİKTAŞ A.Ş.</td>
                    <td class="details" align="left"><a href="">Detaylar</a> </td>
                </tr>
                <tr>

                    <td class="date">22.10.2023 13:30</td>

                    <td class="home" align="right">EMS YAPI SİVASSPOR</td>
                    <td class="score">-</td>

                    <td class="away">KASIMPAŞA A.Ş.</td>
                    <td class="details" align="left"><a href="">Detaylar</a> </td>
                </tr>
                <tr>

                    <td class="date">22.10.2023 16:00</td>

                    <td class="home" align="right">İSTANBULSPOR A.Ş.</td>
                    <td class="score">-</td>

                    <td class="away">MKE ANKARAGÜCÜ</td>
                    <td class="details" align="left"><a href="">Detaylar</a> </td>
                </tr>
                <tr>

                    <td class="date">22.10.2023 19:00</td>

                    <td class="home" align="right">YILPORT SAMSUNSPOR</td>
                    <td class="score">-</td>

                    <td class="away">RAMS BAŞAKŞEHİR FUTBOL KULÜBÜ</td>
                    <td class="details" align="left"><a href="">Detaylar</a> </td>
                </tr>
                <tr>

                    <td class="date">22.10.2023 19:00</td>

                    <td class="home" align="right">FENERBAHÇE A.Ş.</td>
                    <td class="score">-</td>

                    <td class="away">ATAKAŞ HATAYSPOR</td>
                    <td class="details" align="left"><a href="">Detaylar</a> </td>
                </tr>
                <tr>

                    <td class="date">23.10.2023 20:00</td>

                    <td class="home" align="right">VAVACARS FATİH KARAGÜMRÜK</td>
                    <td class="score">-</td>

                    <td class="away">YUKATEL ADANA DEMİRSPOR A.Ş.</td>
                    <td class="details" align="left"><a href="">Detaylar</a> </td>
                </tr>
                <tr>
                    <td class="date">23.10.2023 20:00</td>

                    <td class="home" align="right">TRABZONSPOR A.Ş.</td>
                    <td class="score">-</td>

                    <td class="away">CORENDON ALANYASPOR</td>
                    <td class="details" align="left"><a href="">Detaylar</a> </td>
                </tr>


            </tbody>

        </table>

    </div>

    <script></script>
</body>