@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@font-face {
  font-family: AstroSpace;
  src: url(/fonts/AstroSpace.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

header {
  background-color: #8f1616;
}

.main-nav {
  height: 90px;
}

.logo {
  color: white;
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: "AstroSpace", sans-serif;
}

.navlinks {
  list-style: none;
  float: right;
  line-height: 90px;
  margin: 0;
  padding: 0;
}

.navlinks li {
  display: inline-block;
  margin: 0 20px;
}

.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 0.3s linear 0s;
}

.navlinks li a:hover {
  color: whitesmoke;
  padding-bottom: 7px;
  border-bottom: 2px solid whitesmoke;
}

/* li a.contact {
  background-color: #00adb5;
  padding: 9px 20px;
  border-radius: 50px;
  transition: all 0.3s linear 0s;
}

li a.contact:hover {
  background-color: #047e85;
  color: white;
  border-bottom: none;
} */

.menu-btn {
  color: white;
  font-size: 25px;
  float: right;
  line-height: 90px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#isChecked {
  display: none;
}

@media (max-width: 800px) {
  .navlinks {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    background: #222831;
    right: -100%;
    transition: all 0.5s;
  }

  .navlinks li {
    display: block;
  }

  .navlinks li a {
    font-size: 20px;
  }

  .navlinks li a:hover {
    border-bottom: none;
  }

  .menu-btn {
    display: block;
  }

  #isChecked:checked~.navlinks {
    right: 0;
  }
}

@media (max-width: 350px) {
  .logo {
    margin-left: 15px;
    font-size: 25px;
  }

  .menu-btn {
    margin-right: 15px;
    font-size: 25px;
  }
}

.btns {

  text-align: center;
  list-style: none;
  float: left;
  line-height: 20px;
  text-decoration: none;
  margin-top: 60px;
  margin-left: 40%;
}

#fiks {
  padding-left: 40px;
  padding-right: 40px;
}

.btn {

  border-radius: 8px;
  padding: 20px;
  color: whitesmoke;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  background-color: #8f1616;
  float: left;
  margin: 0 5px;
}

.special {
  background-color: #5c0f0f;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: whitesmoke;
}


table {

  border-collapse: collapse;
  border: 1px solid black;
}

.container {

  margin-left: 500px;


}

th,
td {
  padding: 10px;
  font-size: 16px;
}

table,
tr,
td,
th {
  background-color: white;
}

table tr {
  border-bottom-color: gray;
  border-bottom-width: 1px;
  border-bottom-style: groove;
}

.date {

  align-items: left
}

.score {
  align-items: center;
}

.home {}


.half {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid black;
  padding: 5px;
}

.table-header {
  background-color: #ccc;
}

.table-row-highlighted {
  background-color: #eee;
}

.half tr {
  width: 500px;
}

.half td {
  width: 20px;
  text-align: center;
  text-decoration: none;
}

.half td:hover {
  cursor: pointer;
  background-color: #f0f0f0;

}

.half td a {
  font-weight: bold;
  text-decoration: none;
  color: black;
  text-align: center;
}

td.firsthalf {
  cursor: default;
}

.half {
  width: 775px;
}